<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="google-signin-client_id" content="965613051422-0ttgm4f9d518cfe0nqiauh0besnqd43o.apps.googleusercontent.com">

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>'
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </body>
</html>
